---
title: {{ story.name }}
type: using
---
{% if story.info['experimental'] %}{% raw %}
{{< warning title="Experimental" >}}
This feature is in alpha. The API may change on a minor version increment.
{{< /warning >}}
{% endraw %}{% endif %}

{{ story.about }}

{% if story.given['base_story'] != None %}Example base.story:

```yaml
{{ story.given['base_story'] }}
```
{% endif %}

{% if story.given['example_story'] != None %}example.story:

```yaml
{{ story.given['example_story'] }}
```
{% endif %}

{% if story.given['example1_story'] != None %}example1.story:

```yaml
{{ story.given['example1_story'] }}
```
{% endif %}

{% if story.given['example2_story'] != None %}example2.story:

```yaml
{{ story.given['example2_story'] }}
```
{% endif %}

{% if story.given['example3_story'] != None %}example3.story:

```yaml
{{ story.given['example3_story'] }}
```
{% endif %}


{% if story.given['engine_py'] != None %}engine.py:

```python
{{ story.given['engine_py'] }}
```
{% endif %}

{% if story.given['setup'] != None %}
```python
{{ story.given['setup'] }}
```
{%- endif %}

{% if story.variations %}

{% for variation in story.variations %}
{{ variation.child_name }}:

{% for step in variation.steps %}
{% with step = step %}{% include "step.jinja2" %}{% endwith %}
{% endfor %}
{% endfor %}

{% else %}

{% for step in story.steps %}
{% with step = step %}{% include "step.jinja2" %}{% endwith %}
{% endfor %}

{% endif %}

{% raw %}{{< note title="Executable specification" >}}{% endraw %}
Page automatically generated from <a href="https://github.com/hitchdev/hitchstory/blob/master/hitch/{{ story.filename.basename() }}">{{ story.filename.basename() }}</a>.
{% raw %}{{< /note >}}{% endraw %}
