*.kate-swp
*.pyc
.pytest_cache
build/
dist/
hitchstory.egg-info/
docs/snippets/
docs/draft/
docs/src/using/
temp/
hitch/devenv.yml
hitchpylibrarytoolkit
failure.*
examples/website/artefacts/
.coverage
